---
import SocialCard from "@/components/cards/SocialCard.astro";
import { error } from "@/data/posts/utils/error.json";

const { name, timeInit, description, category, image } = error;
---

<SocialCard
  title={name}
  timeInit={timeInit}
  description={description}
  category={category}
>
  <div class="container-error">
    <img src={image} alt={name} />
  </div>
</SocialCard>

<style>
  .container-error {
    width: 100%;
    height: 100%;
  }

  .container-error img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
</style>
