---
import { profile } from "@/data/profile/profile-data.json";
import VerifiedIcon from "@/components/icons/general/VerifiedIcon.astro";
import CVIcon from "@/components/icons/profile/CVIcon.astro";
import GitHub from "@/components/icons/profile/GitHub.astro";
import GmailIcon from "@/components/icons/profile/GmailIcon.astro";
import LinkedInIcon from "@/components/icons/profile/LinkedInIcon.astro";

const { name, rol, image, banner, email, github, linkedin, cv, location } =
  profile;
const { city, country } = location;
---

<article class="profile-card">
  <header class="header-profile">
    <img class="banner-image" src={banner} alt="Banner del perfil" />
    <img class="profile-image" src={image} alt={`Foto de perfil de ${name}`} />
  </header>
  <div class="container-profile">
    <section class="info-profile">
      <h1>{name} <VerifiedIcon /></h1>
      <h2>{rol}</h2>
      <address>
        {city}, {country}
      </address>
    </section>
    <footer class="social-profile">
      <GmailIcon email={email} />
      <a
        href={github}
        target="_blank"
        aria-label={`Perfil GitHub de ${name}`}
        title="GitHub"
        ><GitHub />
      </a>
      <a
        href={linkedin}
        target="_blank"
        aria-label={`Perfil LinkedIn de ${name}`}
        title="LinkedIn"
        ><LinkedInIcon />
      </a>
      <a
        href={cv}
        download
        aria-label={`Descargar CV de ${name}`}
        title="CV"
        ><CVIcon />
      </a>
    </footer>
  </div>
</article>

<style>
  .profile-card {
    width: 100%;
    height: auto;
    background-color: var(--color-background-card);
    box-shadow: var(--shadow-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
  }

  .header-profile {
    position: relative;
    width: 100%;
    height: 120px;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .profile-image {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1 / 1;
    width: 118px;
    border-radius: 16px;
    border: 5px solid var(--color-background-card);
  }

  .container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .info-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .social-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  h1 {
    text-align: center;
    font-weight: bold;
  }

  h2 {
    text-align: center;
  }

  address {
    text-align: center;
  }

  a {
    transition: transform 0.2s ease;
  }

  a:hover {
    transform: scale(1.1);
  }

  @media (max-width: 900px) {
    .profile-image {
      left: 1rem;
      transform: none;
    }

    .profile-card,
    .container-profile {
      align-items: start;
    }

    .container-profile {
      padding-left: 1rem;
    }

    .info-profile,
    .social-profile {
      align-items: start;
      text-align: left;
    }

    address,
    h1,
    h2 {
      text-align: left;
    }
  }
</style>
